.progress-container {
  min-width: 80%;
  background-color: #f07579;
  border-radius: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.progress-content-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}
.progress-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.progress-description {
  color: #f4b7b7;
}
.progress-bar {
  background-color: #3b3b3b;
  border-radius: 13px;
  & div {
    background-color: white;
    height: 10px;
    border-radius: 10px;
  }
}
