.progress-container {
  min-width: 80%;
  background-color: #f07579;
  border-radius: 20px;
}
.progress-content-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.progress-title {
  color: white;
}
.progress-bar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  // padding: 3px;
  & div {
    background-color: white;
    width: 40%;
    /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
  }
}
