.progress-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  background-color: #f07579;
  padding: 20px;
  border-radius: 20px;
}
.progress-bar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  & div {
    background-color: orange;
    width: 40%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
  }
}
