.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.tasks-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-title {
  font-weight: bold;
  font-size: 20px;
}
.tasks-select-custom {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tasks-select-button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.tasks-arrow-down {
  border: solid #000000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.tasks-dropdown-content {
  position: absolute;
  z-index: 1;
  display: flex;
  padding: 6px;
  gap: 6px;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  top: 38px;
  left: 0px;
  box-shadow: 0px 0px 8px 0px #0000001a;
  &.inactive {
    display: none;
  }
  & div {
    display: flex;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    &:hover {
      background-color: #595296;
      color: white;
    }
  }
}
.tasks-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
