.task-item-container {
  background-color: #ffffff;
  padding: 0 20px;
  border-radius: 20px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px #00000008;
  &.edit {
    padding: 4px;
  }
}
.task-item-description {
  display: flex;
  gap: 10px;
  cursor: pointer;
  &.checked {
    color: #a9a9a9;
    text-decoration: line-through;
  }
}
.tasks-item-check-box {
  width: 15px;
  height: 15px;
  border: 2px solid #595296;
  border-radius: 5px;
  &.checked {
    background-color: #595296;
  }
}
.tasks-item-more-action {
  position: relative;
  cursor: pointer;
}
.tasks-item-more-action-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  right: 0;
  gap: 16px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #0000001a;
  & div {
    cursor: pointer;
  }
  &.hide {
    display: none;
  }
}
.task-item-save-btn {
  background-color: #595296;
  height: 90%;
  padding: 0 20px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.task-item-input {
  border: none;
  margin-left: 20px;
  &:focus {
    border: none;
    outline: none;
  }
}
